input {
    height: 20px;
    margin-bottom: 15px;
    width: 100%;
}

#main-content {
    margin: auto;
    padding-top: 20px;
    width: 300px;
}

#form-p {
    text-align: left;
}

#submit-button {
    background-color: #49105F;
    border: none;
    color: white;
    font-size: 14pt;
    height: 30px;
}

#upload-form {
    display: inline-block;
    margin: auto;
    text-align: left;
    width: 300px;
}
